exp 4

shrirang lakhpurkar

25070123108

study of sets in python

In [1]:

set1={"Apple","Banana","Cherry"}
print(set1)
print(set1[1])

{'Cherry', 'Apple', 'Banana'}

TypeError: 'set' object is not subscriptable

In [2]:
set3={"apple",2,True,1,"apple"}
print(set3)

set4={"apple","banana","cherry"}
set4.add("Kiwi")
print(set4)

{True, 2, 'apple'}
{'banana', 'cherry', 'apple', 'Kiwi'}

In [3]:
set5={"apple","banana","cherry"}
set5.remove("banana")
print(set5)

{'cherry', 'apple'}

In [4]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection:",set6&set7)
print("difference:",set6-set7)
print("difference:",set7-set6)
print("dissimilar:",set6^set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
dissimilar: {1, 2, 5, 6}

In [5]:
set8=frozenset({"apple","banana","orange"})
print(set8)
set8.add("Kiwi")
print(set8)                            #

frozenset({'banana', 'apple', 'orange'})

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
set8=frozenset({"apple","banana","orange"})
print(set8)
print(type(set8))

frozenset({'banana', 'apple', 'orange'})
<class 'frozenset'>

In [7]:
participants=["Ajay","Bob","Charan","Derik","Ajay","Eren","Ajay","Bob","Farhan","Ajay"]
unique_participants=set(participants)
print("Unique Participants:",unique_participants)
#list1=set9=frozenset(list1)  also this can be used and then list1 can be printed as a set

Unique Participants: {'Ajay', 'Farhan', 'Eren', 'Charan', 'Bob', 'Derik'}

In [8]:
set_student1={"maths","python","physics","biology"}
set_student2={"python","physics","BEEE","english"}
set_student3={"sanskrit","hindi","python","english"}
print("Common Subjects:",set_student1 & set_student2 & set_student3)

Common Subjects: {'python'}

In [9]:
set_cricket={"Siddhant","Shrirang","Shreyas"}
set_football={"Siddhant","Soham","Samarth"}
print("In both clubs:",set_cricket&set_football)
print("In only cricket club:",set_cricket-set_football)
print("In only football club:",set_football-set_cricket)
print("Only one club:",set_cricket^set_football)

In both clubs: {'Siddhant'}
In only cricket club: {'Shreyas', 'Shrirang'}
In only football club: {'Soham', 'Samarth'}
Only one club: {'Shrirang', 'Samarth', 'Shreyas', 'Soham'}

In [10]:
setstd={"Sid","Bob","Sam","Ram","Roy"}
presentstd={"Sid","Sam"}
print("Absent Students:",setstd-presentstd)

Absent Students: {'Bob', 'Roy', 'Ram'}

In [11]:
subject={"Maths100","Ecsf101","Python102"}
subject.discard("Ecsf101")
print(subject)

{'Maths100', 'Python102'}